{% load i18n %}
{% trans alert %}


{% load static%}



<p>process </p>
<a  href= "{% url 'process_add'%}">click in </a>
<a  href= "{% url 'process_print'%}">click in </a>



<p>activity </p>
<a  href= "{% url 'activity_add'%}">click in </a>






<p>Skill </p>
<a  href= "{% url 'skill_add'%}">click in </a>




<p>actor </p>
<a  href= "{% url 'process_add'%}">click in </a>






<p>skillc </p>
<a  href= "{% url 'process_add'%}">click in </a>






<p>Ressources </p>
<a  href= "{% url 'process_add'%}">click in </a>
