{%load static%}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Innovation Stories</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Board/assets/img/favicons/apple-touch-icon.png'%}'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'Board/assets/img/favicons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Board/assets/img/favicons/favicon-16x16.png'%}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Board/assets/img/favicons/favicon.ico'%}">
    <link rel="manifest" href="{% static 'Board/assets/img/favicons/manifest.json'%}">
    <meta name="msapplication-TileImage" content="{% static 'Board/assets/img/favicons/mstile-150x150.png'%}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'Board/assets/lib/prismjs/prism.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/loaders.css/loaders.min.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/remodal/remodal.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/remodal/remodal-default-theme.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/owl.carousel/owl.carousel.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/lightbox2/css/lightbox.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/semantic-ui-accordion/accordion.min.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/semantic-ui-transition/transition.min.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/css/theme.css'%}" rel="stylesheet">

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
   
    
       


              <div class="row no-gutters minh-100vh">
                <div class="col-lg-9 order-1 order-lg-0 page-content pt-6 pt-lg-0">
      
      
                  <!-- ============================================-->
                  <!-- <section> begin ============================-->
                  <section class="pt-5 pt-xl-7 pt-xxl-8">    
                    <div class="container-fluid">
                      <div class="row justify-content-center">
                        <div class="col-lg-10">
                          <div class="text-center mb-5 mb-lg-6">
                            <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">Discover innovative </span> Case Studies</h2>
                            <hr class="hr-ornate" />
                            <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 mb-4 mb-xl-0" style="margin: 0 auto;
                            ">
                       <img class="mb-3" src="{% static 'Board/assets/img/icons/coffe.svg' %}" alt="" width="100" style="text-align:center" />
                  
                    
                     </div>
                            <p>Let's uncover the best stories, you can search by Case Study, Process, Subject...</p>

<div>
                            {% load widget_tweaks %}
                              
                            <form method="get">
                                    <div class="well">
                                    <div class="well">
                                     
                                      <div class="row">
                                        <div class="form-group col-sm-4 col-md-3">
                                                <h6 >Process</h6>
                                          {% render_field filter.form.process_name class="form-control" %}
                                          <h4 ></h4>
                                        </div>
                                       
                                       
                                        
                                    </div>
                                                
                                    <button type="submit" class="btn btn-primary"><span class="icon-magnifier search-icon"></span>SEARCH<i class="pe-7s-angle-right"></i></button>   
                                

                                        
                                                    </div>
                                      
                                  </form>




                                </div>





                            
                          </div>
                         
                        </div>
                      </div>
                    </div>
                    <!-- end of .container-->
      
                  </section>
                  <!-- <section> close ============================-->
                  <!-- ============================================-->
      
      
      
      
                  <!-- ============================================-->
                  <!-- <section> begin ============================-->
                  <section class="bg-light text-center">
      
                    <div class="container-fluid">
                      <div class="row justify-content-center">
                        <div class="col-lg-10">
                          <div class="mb-5 mb-lg-6">
                            <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">Choose </span>Your Case Studies</h2>
                            <hr class="hr-ornate" />
                          </div>
                          <div class="row">
                      

                            {% for user in filter.qs %}

                            <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 mb-4 mb-lg-0">
                              <div class="rounded border py-6 bg-white">
                                <h3 class="font-weight-regular text-primary">{{ user.title_case }}</h3>
                                <p class="font-weight-regular text-primary" style=" color: black;"></p>
                                <p><strong>{{ user.subject}}</strong></p>
                    

                                {% for act in user.activity_process.all %}
                                <ul class="list-unstyled text-dark my-4">
                                  <li>{{ act.activity_name }}</li>
                               {%  for task in  act.task_process.all %}
                                {{task.task_name}}
                                  
                                  {% endfor %}                                </ul>
                                <form action="" method="get" target="_blank">
                                  <button class="btn btn-primary" type="submit">Get Started<span class="fas fa-chevron-right ml-1"></span></button>
                              


                                     {% endfor %}
                              





                              </form>
                              </div>
                            </div>



                            {% empty %}

                            <p class="text-center">  No data are availbe about this Case Study</p>   
                                     
                              
        
        
                               {% endfor %}

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end of .container-->
      
                  </section>
                  <!-- <section> close ============================-->
                  <!-- ============================================-->
      
      
      
      
                  <!-- ============================================-->
                  <!-- <section> begin ============================-->
                 
                  <!-- <section> close ============================-->
                  <!-- ============================================-->
      
      
                  <footer class="page-footer">
                    <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/service.jpg'%});background-position: 0 41%; transform: scale(1.1);">
                    </div>
                    <!--/.bg-holder-->
      
                    <div class="row justify-content-center">
                      <div class="col-lg-10">
                        <div class="row align-items-center">
                          <div class="col-lg-6 text-lg-left">
                            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
                              Copyright &copy; 2019 Innovation Stories.</p>
                          </div>
                     
                        </div>
                      </div>
                    </div>
                  </footer>
                </div>
                <div class="col-lg-3 col-12 t-0 order-0 order-lg-1 position-absolute position-lg-relative">
                  <div class="h-lg-100vh sticky-top py-4 sticky-area"><span class="btn-close"><img class="d-none d-lg-block times" src="{ static 'Board/assets/img/times.svg'%}" width="25" alt=""/><img class="d-lg-none" src="{% static 'Board/assets/img/times-black.svg'%}" width="18" alt=""/></span>
                    <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/service.jpg'%});">
                    </div>
                    <!--/.bg-holder-->
      
                    <h1 class="page-title">Innovation Stories</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="page position-absolute t-0 w-100" id="portfolio">
              <div class="row no-gutters minh-100vh">
                <div class="col-lg-9 order-1 order-lg-0 page-content pt-6 pt-lg-0">
      
      



    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'Board/assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'Board/assets/js/popper.min.js'%}"></script>
    <script src="{% static 'Board/assets/js/bootstrap.js'%}"></script>
    <script src="{% static 'Board/assets/js/plugins.js'%}"></script>
    <script src="{% static 'Board/assets/lib/prismjs/prism.js'%}"></script>
    <script src="{% static 'Board/assets/lib/loaders.css/loaders.css.js'%}"></script>
    <script src="{% static 'Board/assets/js/stickyfill.min.js'%}"></script>
    <script src="{% static 'Board/assets/lib/remodal/remodal.js'%}"></script>
    <script src="{% static 'Board/assets/lib/jtap/jquery.tap.js'%}"></script>
    <script src="https://www.google.com/recaptcha/api.js'%}"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="{% static 'Board/assets/lib/owl.carousel/owl.carousel.js'%}"></script>
    <script src="{% static 'Board/assets/lib/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'Board/assets/lib/isotope-packery/packery-mode.pkgd.min.js'%}"></script>
    <script src="{% static 'Board/assets/lib/lightbox2/js/lightbox.js'%}"></script>
    <script src="{% static 'Board/assets/lib/semantic-ui-accordion/accordion.min.js'%}"></script>
    <script src="{% static 'Board/assets/lib/semantic-ui-transition/transition.min.js'%}"></script>
    <script src="{% static 'Board/assets/js/theme.js'%}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARdVcREeBK44lIWnv5-iPijKqvlSAVwbw&callback=initMap" async></script>

  </body>

</html>